<div class="row">
   <div class="col-sm-5">
      <%= form_for @accessory do |f| %>
         <%= f.label :name %>
         <%= f.text_field :name %>

         <%= f.submit %>
      <% end %>
   </div>
</div>