<div class="row">
   <div class="col-sm-5">
      <%= form_for @accessory do |f| %>
         <%= form_group_div(f, :name) %>
         <br>
         <%= f.submit class: 'btn btn-primary' %>
      <% end %>
   </div>
</div>