<div class='form-group'>
   <%= a.label item, 'Price' %>					
   <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= a.text_field item, class: 'form-control' %>
   </div>
</div>